<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IFileUploadService">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://ndvupload.azurewebsites.net/FileUploadService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IFileUploadService" contract="ServiceReference.IFileUploadService" name="WSHttpBinding_IFileUploadService"/>
    </client>
  </system.serviceModel>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
