# Temporary local data
#---------------------
bin/
LOGS/
Settings/
__history/

# Protocol repositories
#----------------------
AlfaHelse/
ALLRATE/
ARCHETYPES/
ASTOR/
BALANSE/
BAR/
BARNEOVERVEKT/
CTS/
EMETRA/
ENDO.TEST/
ENDO.TUMOR/
ENDO/
EVOLVE/
FEDME/
FENGSEL/
FettVest/
FOT/
GBD.KOST/
GBD/
HAND/
HOFTE/
HYPERPARA/
HYPOFYSE/
JSP/
KioskPromo/
LIPID
MDS30/
MEDISIN/
MEDISINER/
MODY/
MS/
NAPOS/
NDV.HiB.PROMS/
NDV.MRS/
NDV.OUS.SAMHANDLING/
NDV.PAS/
NDV.PHT/
NDV/
OVERVEKT/
PROM/
RETINOPATI/
ROAS/
RYGG/
SLAG/
SOLLI/
SOREG/
SYNACTHEN/
SÅRJOURNAL/
TEST/
Ultradian/
UNO/
VANKY/
VOSSBAR/
VREX/


# Various
#--------
.svn
*.bak
*.db
*.exe
*.ini
*.udl
*.zip
*.ZIP
*.config.txt
log.txt
