# Document folders
#-----------------
GBD/Documents/
ENDO/Documents
HOFTE/Documents/
ROAS/Documents/
SLAG/Documents/
SOREG/Documents/
VOSSBAR/Documents/
VREX/Documents/

# Temporary local data
#---------------------
LOGS/
Settings/

# Folders handled in other Git repositories
#------------------------------------------
bin/

# Various
#--------
.svn
*.ini
*.ZIP
*.exe
*.UDL

*.Config.TXT

# Files that are duplicates of other files
#-----------------------------------------
NDV/Patient/DIAPOL_CONSENT.fr3
