[submodule "GBD"]
	path = GBD
	url = https://bitbucket.org/emetra/gbd.git
[submodule "NDV"]
	path = NDV
	url = https://bitbucket.org/emetra/ndv.git
[submodule "LIPID"]
	path = LIPID
	url = https://bitbucket.org/emetra/lipid.git
[submodule "HOFTE"]
	path = HOFTE
	url = https://bitbucket.org/emetra/hofte.git

