# Document folders
#---------------------------------------------
HOFTE/Documents/
ROAS/Documents/
SLAG/Documents/
VOSSBAR/Documents/
VREX/Documents/

# Folders handled in other Git repositories
#---------------------------------------------
SQL/
bin/

# Various
#---------------------------------------------
FastTrak.UDL
*.ini
.svn
