<?xml version="1.0"?>
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true"/>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Binaries">
          <match url="(.*exe)"/>
          <action type="Redirect" url="http://binaries.fasttrak.no/{R:0}"/>
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <mimeMap fileExtension="fr3" mimeType="application/xml"/>
      <mimeMap fileExtension="note" mimeType="application/xml"/>
      <mimeMap fileExtension="xhtml" mimeType="application/xml"/>
      <mimeMap fileExtension="sql" mimeType="text/plain"/>
    </staticContent>
  </system.webServer>
</configuration>